[2016-12-11 18:44] rturk opened #1 "Update Icons DB to latest Font Awesome - Version 4.7.0"

[2016-12-11 18:58] rturk opened #2 "Include Example"
- [ ] IOS example
- [ ] Android Example

[2017-02-09 13:36] speller commented on #2
Don't understand how to use it. When I try this:

[code]
I get the error: `Touchable child must either be native or forward setNativeProps to a native component`

What to do?

[2017-02-09 13:43] sibelius commented on #2
@speller could u try this branch https://github.com/entria/react-native-fontawesome/pull/3

it will solve your problem

[2017-02-09 14:15] speller commented on #2
@sibelius The patch is incomplete. It work only if I change the first file of the file to `import React, { Component } from 'react';` . This solved the error messages, but I still can't see any icons, just a blank page. How to change my example above to see icons? I added the `fontawesome-webfont.ttf` to the assets/fonts dir.

[2017-02-09 14:18] sibelius commented on #2
ok, I'll fix it

You also need to include the fonts on ios and android

![image](https://cloud.githubusercontent.com/assets/2005841/22786945/aa18d2e0-eec1-11e6-970d-0dfe13bfb587.png)

the name should be `FontAwesome.ttf`

feel free to send a PR to improve README.md instructions

[2017-02-09 14:30] speller commented on #2
@sibelius The font filename was the issue, thanks!

I'm totally newbie in mobile development and React Native so I just learn everything.

So I suggest following addition to the README:
- Code examples in two notations for newbies such as me (first code notation as in my code example and second in more classic way (I'm sorry, I don't know how to call them in right way))
- Any another exaples if po

[2017-03-11 13:56] #1 closed

[2017-03-11 14:30] #2 closed

[2017-03-18 09:10] arnebr opened #6 "Please update NPM JS Readme"
Hey @rturk,
can you please update the NPM JS Readme :)
That would be awesome for beginners to better get started with the awesome libary.

Greetings,
Arne

[2017-03-21 21:02] rodrigooler commented on #6
Hey @arnebr see https://github.com/entria/react-native-fontawesome#installation-process

[2017-03-21 21:07] arnebr commented on #6
Hey @rodrigooler,
Thanks, but I wrote that doku.

Its just a task reminder  for Rafael (@rturk ) because nobody else has access to the npm repo.

Greetings

[2017-03-21 22:06] pawangiri opened #9 "Font does not render if white space is added with key name"
Thanks for the addon. I was looking for something like this.
Just a small 🐛  👇

`<FontAwesome> key</FontAwesome>` should be `<FontAwesome>key</FontAwesome>`
The bug does not allow to use white space with a name of the key and fails silently if added accidently.
One simple solution would be to add .trim() at [ {Icons[children.trim()]} ](https://github.com/entria/react-native-fontawesome/blob/master

[2017-03-21 23:28] rodrigooler commented on #9
Nice observation, I'll improve it!

[2017-03-23 11:18] rturk commented on #9
@pawangiri this is a GFB.
Let's keep it simple, main ideia of this package is to make it insanely fast with minimal memory footprint. `trim()` probably the best solution for this corner case

[2017-03-23 11:26] sibelius commented on #9
What about this ?

[code]

This will make sure nobody commits a typo when trying to use an icon

[2017-03-23 11:28] rturk commented on #6
Hi @arnebr will try to update as soon as possible

[2017-03-23 11:30] rturk commented on #6
Including @entria team as owners of this NPM
https://docs.npmjs.com/cli/owner

[2017-04-24 13:44] #9 closed

[2017-05-30 10:44] karan101292 opened #11 "Icon is rendering broken."
Hey guys, In my android, Icon is rendering broken. My react-native version is 0.44.0
Take a look at screen shot. - The one before **Learn** - text

![font-bug](https://cloud.githubusercontent.com/assets/6022584/26579797/1246fd5a-4553-11e7-8092-a3f470c6bb8a.jpeg)

[2017-05-30 10:54] karan101292 commented on #11
My bad. forgot to add font files. closing.

[2017-05-30 10:54] #11 closed

[2017-05-30 10:54] karan101292 commented on #11
forgot to add font files to android directory

[2017-06-05 13:00] rturk opened #12 "Include example with different icon sizes"
As requested by
https://twitter.com/CatiaFilipaS/status/870340913909968896

[2017-06-05 13:04] sibelius commented on #12
`<FontAwesome style={{fontSize: 32}}>{Icons.chevronLeft}</FontAwesome>`

`FontAwesome` can receive any style of `<Text />` component

[2017-06-06 00:40] #12 closed

[2017-06-12 23:38] ciceroneves opened #13 "Red screen error when trying to use lib"
Hi I have a function that takes a parameter named *description* and returns the following:

[code]

When I run my code I get a red screen error with the following error message:
Layout: -1 < 0

If I remove
[code]

The code works fine.

Any ideas on how to solve it? I only imported the package and tried to use the component.
I haven't followed the instructions of this link https://medium.com/@gatte

[2017-07-23 19:25] dfili8 commented on #11
@karan101292 Care to share what you mean by adding the font files? I am receiving the same broken icon in my Android project.

[2017-07-23 19:32] sibelius commented on #11
@dfili8 you can follow this https://medium.com/@danielskripnik/how-to-add-and-remove-custom-fonts-in-react-native-b2830084b0e4 to add fontawesome files to your project

care to send a PR to improve README.md?

[2017-08-03 09:16] nirpeled opened #14 "Animating icons such as spinners"
I wonder how much effort will it take to support animating an icon, similar to using the "fa-spin" class for spinner icons - examples at http://fontawesome.io/examples/#animated

I'd love to help out with this :)

[2017-08-26 07:58] wikiyodo opened #16 "Some Icons not dispaying"
Most icons are not displaying e.g
`<Text style={{margin: 10, fontSize: 45, textAlign: 'center'}}><FontAwesome>{Icons.chevronCircleLeft}</FontAwesome></Text>`

[2017-08-26 12:48] sibelius commented on #16
@wikiyodo maybe you fontawesome.ttf has a different code for some icons

could you provide your .ttf?

[2017-08-28 18:54] YaroslavRostanets commented on #16
Yes, some icons are not displaying

[2017-08-28 21:40] wikiyodo commented on #16
@sibelius I will try to change my fontawesome.ttf. But how do I change it, I mean where do I place it?

[2017-08-30 08:05] YaroslavRostanets commented on #16
Hello!
I solved the problem in my application.
I replaced FontAwesome.ttf on FontAwesome.otf
Everything worked!

[2017-09-07 09:36] plueschpuschel opened #17 "fontWeight causes crash on Android"
While this is not a real issue with this package, It might be worth noting this in the ReadMe:

Setting fontWeight (to 'bold' in my case) causes the Icons to crash on android (but works on iOS).

[2017-09-27 20:44] alvaro1728 opened #18 "Compatibility with Expo?"
Can this be used in an Expo project?

Thanks,
Alvaro

[2017-09-29 06:27] CKitisak commented on #14
+1

[2017-10-01 05:41] nirpeled commented on #14
I actually ended up wrapping the FontAwesome component to animate it, here it is:
[code]
So instead of using:
[code]
Simply use:
[code]

[2017-10-01 06:14] CKitisak commented on #14
@nirpeled Thanks

[2017-10-01 06:22] nirpeled commented on #14
Feel free to support my PR: https://github.com/entria/react-native-fontawesome/pull/19

[2017-10-31 18:29] ghoshabhi commented on #18
@alvaro1728 : Expo already comes with vector icons library. I wouldn't install two packages for icons in the same project.

[2017-11-08 15:40] vantu19000 commented on #16
i solved the problem.
i coppy FontAwesome.ttf to "..\android\app\build\intermediates\assets\debug\fonts"

[2017-11-08 22:35] rturk commented on #13
Hi @ciceroneves are you sure that you've installed the source font in your project? Looks like that the font is missing in the build

[2017-11-16 11:26] rturk opened #21 "Add Tests"

[2017-11-16 11:27] rturk opened #22 "Automate releases with circleCi"
Add cicle.yml file so anyone can publish releases to NPM automatically

[2018-01-16 13:35] alshdotme opened #24 "Update to v5 of Font Awesome?"
Any chance you could update this to v5? Thanks.

[2018-01-16 13:55] sibelius commented on #24
we gonna accept a PR for this

[2018-02-08 14:29] baona95 opened #26 "Release new version for previous commits"
Please release a new version as right now latest is 5.7.0 and Text props are not included.

I have to install a patch using github commit.

[2018-02-21 14:24] qmorallc commented on #24
Hiyya!

So I might be interested in taking this on. Essentially, do we just need to go through FontAwesomeIcons.js and update it with the new Octals? This seems like a pretty simple project :)

But I could be toootally wrong!

I can see in the download for FA5, in the web fonts directory are the TTF fonts, though they seem to encourage the use of OTF for whatever reason.

[2018-02-21 14:25] ksherman commented on #24
Hiyya!

So I might be interested in taking this on. Essentially, do we just need to go through FontAwesomeIcons.js and update it with the new Octals? This seems like a pretty simple project :)

But I could be toootally wrong!

I can see in the download for FA5, in the web fonts directory are the TTF fonts, though they seem to encourage the use of OTF for whatever reason.

[2018-02-27 19:08] kedwin opened #27 "typescript"
please add typescript definitions

[2018-02-27 19:39] jgcmarins commented on #27
PRs are welcome

[2018-03-01 11:21] Luckygirlllll opened #28 "FontAwesome.ttf"
Where is the FontAwesome.ttf? Without adding this file to the project library wouldn't work?

[2018-03-01 13:20] Luckygirlllll opened #29 "Unrecognized font family "FontAwesome""
I got an error "Unrecognized font family "FontAwesome", after the adding library to the project. How is possible to fix that?

[2018-03-04 16:39] kristerkari commented on #27
I added a PR to add Typescript type definitions.

[2018-03-05 12:45] #27 closed

[2018-03-05 13:12] kristerkari opened #31 "Improve Typescript definitions to include types for all icons"
Currently Icons are typed to be a generic string. Typescript can be used to generate proper type definitions from `FontAwesomeIcons.js`.

See discussion here:
https://github.com/entria/react-native-fontawesome/pull/30#discussion_r172147367

[2018-03-31 18:31] #31 closed

[2018-04-03 19:21] paul-hart commented on #29
Having the same issue.

[2018-04-05 20:38] bgold0 commented on #29
@paul-hart did you figure it out? I downloaded manually but still same issue.

[2018-04-14 04:11] aledalgrande commented on #14
Don't know if the people upvoting just copy-pasted the code above, but the PR doesn't work, because the library doesn't export the `SpinningIcon`?

[2018-04-24 19:43] djalmaaraujo opened #34 "Can't make it work on Android"
It's working on IOS, but the font is not loading on Android. Am I doing something wrong?

Here's my directory:
![image](https://user-images.githubusercontent.com/3402/39210286-29619616-4800-11e8-8f6b-f75e91f044b6.png)

[2018-04-24 21:05] djalmaaraujo commented on #34
Maybe it's a bug or not. When using inside of another <Text> the font was missing. I had to use as a sibling of another <Text>. Is that the expected behavior?

[2018-04-26 09:06] grobmeier commented on #29
Running into the same issue. I found out you have to do the following (it's missing from the instructions):

1. Download the Font from the link mentioned in this issue
2. Put the font into your project folder. I used /myproject/assets/fontawesome for that, not the /myproject/ios folder.
3. Add the font to your ios build like here: https://medium.com/@dabit3/adding-custom-fonts-to-react-native-b266

[2018-05-11 16:01] sopdock opened #36 "Unable to render Icons"
I'm unable to render the icons for some reason. I just see a big 'X'.

Here is what I've done:

1) Code:
[code]

2) Download FontAwesome 4.7.0 from the README.

3) Copy `fontawesome-webfont.tff` into `/projectname/android/app/src/main/assets/fonts`:

[code]

4) Run app using `react-native run-android`: [see image](https://imgur.com/a/3QVLNjR)

What am I doing wrong?

Running:
[code]

[2018-05-11 16:09] sopdock commented on #36
Well I just solved my issue... Apparently you have to rename the file to "FontAwesome.tiff".

[2018-05-11 16:09] #36 closed

[2018-06-28 07:58] nirpeled commented on #24
I'd love to help out

[2018-06-28 07:58] nirpeled commented on #18
This works beautifully with Expo

[2018-06-28 11:22] sibelius commented on #18
@nirpeled can u send a PR explaining how to use with expo?

[2018-07-15 06:44] nirpeled commented on #18
@sibelius Sorry for the late response - I've been away for a while.

Do you still need an example of how to do this?

[2018-07-17 03:34] #18 closed

[2018-08-12 21:38] realmadrid2727 commented on #29
With the very latest version of the free FontAwesome that I just downloaded, its font name (not filename) is "FontAwesome5FreeRegular" and not "FontAwesome". So renaming the `fontFamily` in Icon.js to "FontAwesome5FreeRegular" fixes this for me.

[2018-09-03 09:19] YoshiYo commented on #18
Hi guys,

I have some troubles to use the package with the font loader from Expo.
@nirpeled Can you provide us an example with Expo please?

Thanks in advance,
Guillaume.

[2018-09-05 00:59] rgordon95 commented on #24
would love to see this brought up to 5.3.1

[2018-09-05 11:36] jgcmarins commented on #24
PRs are welcome

[2018-09-07 08:04] PrinzAndreVonLandmann opened #38 "Heavy Displaying Problem"
![fontawesomeall](https://user-images.githubusercontent.com/39174514/45206206-bceee480-b284-11e8-8d55-90dcadc52bfa.PNG)

I am only getting less than the half of all Icons displayed (see attatchment).
Is that normal? Or am I doing something wrong?

Thank you for your help in Advance

[2018-09-07 15:45] jgcmarins commented on #38
I guess it is something related to fontawesome.

[2018-09-13 11:42] PrinzAndreVonLandmann commented on #38
today i found out it seems to be a problem of fontawesome and fontawesome5

[2018-09-13 12:01] jgcmarins commented on #38
great, how did you solved?

[2018-09-13 12:01] #38 closed

[2018-09-13 13:09] PrinzAndreVonLandmann commented on #38
I didnt solved it at all and I never said that I solved something. :/

well after further research my assumtion was wrong
it just was just true for the 20 i picked and checked more intense

but now it seem the ones which aren´t displayed are totally random

[2018-09-23 18:33] samirant15 commented on #24
I've made it compatible with Font Awesome 5! I've modified FontAwesomeIcons.js and added all the Icons of FA5, I've attached the js and the font I used, Just download it from here:
[FontAwesome5ReactNative.zip](https://github.com/entria/react-native-fontawesome/files/2409011/FontAwesome5ReactNative.zip)
And you're ready to go! 😀

[2018-09-26 13:17] JCMais commented on #24
@samirant15 are you able to open a pull request with this?

[2018-10-08 05:42] KovalevAnton commented on #29
Same issue. Unrecognized font family "FontAwesome" error in simulator.

[2018-10-23 19:59] leandrosimoes commented on #24
I just create a [PR](https://github.com/entria/react-native-fontawesome/pull/39) for this, I hope that it is all right to merge.

[2018-11-08 12:01] jgcmarins commented on #24
https://github.com/entria/react-native-fontawesome/pull/39

[2018-11-08 12:01] #24 closed

[2018-11-08 12:03] jgcmarins opened #40 "add prettier"

[2018-11-08 12:03] jgcmarins opened #41 "add eslint"

[2018-11-08 12:05] jgcmarins opened #42 "add commit lint + change log"
follow this: https://github.com/react-native-community/react-native-share/pull/288/files

[2018-11-10 04:58] ndejesus1227 opened #43 "IconTypes aren't actually available"
I'd like to use IconTypes for the branding styles of my icons. I'm using version 5.7.0, however, when I look at the node_modules/Icons file, I don't see any IconTypes object getting exported. I've uninstalled and reinstalled with no luck. Any idea why this might be happening?

[2018-11-10 13:43] jgcmarins commented on #43
which version?

[2018-11-11 15:46] leandrosimoes commented on #43
I think that's because npm has not the last commit. A new release must be created. You can see a open issue for this here: [#26](https://github.com/entria/react-native-fontawesome/issues/26)
Until then, you can install the last commit with npm with this command:

`npm install --save git://git@github.com:entria/react-native-fontawesome.git`

Let me know if this was the problem.

[2018-11-11 21:59] ndejesus1227 commented on #43
Don't need it anymore, but thanks for the responses!

[2018-11-11 21:59] #43 closed

[2018-11-15 11:50] rturk opened #44 "Move NPM package from my person npm account to Entria Org"
This is stuck with my personal account, need to migrate this to Entria Org so we can move faster

https://stackoverflow.com/questions/43007471/how-to-migrate-npm-package-to-an-organization-scope

[2018-11-15 15:45] Kouznetsov opened #45 "Missing index.d.ts in npm repo"
I can clearly see the index.d.ts file in the git repository, but it seems not to be available when downloading the npm package, nor is it referenced in package.json.
Maybe it has not been `npm publish`ed (yet) ?

[2018-11-16 09:32] Kouznetsov commented on #45
Closing

[2018-11-16 09:32] #45 closed

[2018-11-17 00:35] KalebMatthews opened #47 "iOS Font names are incorrect in 6.0.0 package"
The font names are incorrect in the 6.0.0 package. The following should be renamed for iOS only.

fa_brands_400 -> FontAwesome5BrandsRegular
fa_regular_400 -> FontAwesome5FreeRegular
fa_solid_900 -> FontAwesome5FreeSolid

[code]

Unless you use a font editor there is no way to change the name of the fonts in the .ttf this needs to be fixed on the .js level for convenient use.

[2018-11-17 00:50] KalebMatthews commented on #47
If you need to use this package now and this fix is not out yet simple pass in the corrected names into the type prop for the FontAwesome component instead of the IconTypes constants.

[code]

Hope this helps anyone who is running into this.

[2018-11-29 19:10] sfratini commented on #29
Actually the font family in iOS is now "Font Awesome 5 Free" (FA really broke everything this time).

Import Platform into Icons.js and add this:

`FAB: Platform.OS == 'ios' ? "Font Awesome 5 Free" : 'fa_solid_900'`

Weird that nobody reported this.

[2018-12-01 00:07] Christopotamus opened #49 "Please release a new version"
The current tagged 6.0 release doesn't work with FontAwesome 5.4.1 on iOS without forcing the type property to any of the names.

This is already fixed in the latest commit to master e828bf57b50064946870cfd721ecbce2c0cad469

[2018-12-19 15:16] ndejesus1227 opened #53 "Upgraded to 6.0.1 and icons turned into question marks"
I just upgraded to 6.0.1, I downloaded the extra set of  files, like fa-brands-400.eot and .tff etc etc

Ran react-native link react-native-fontawesome

closed simulator and react-native run-ios

I am trying to use the Twitter, Twitch and Discord icons. Twitter and Twitch were working just fine before the update, now they are all showing up as question marks.

I went to look at the references/depe

[2018-12-20 12:48] leandrosimoes commented on #53
Did you check if you are using the correct IconTypes enum such as IconType.FAR, IconType.FAS or IconType.FAB ?

[2018-12-28 19:02] eathentica commented on #53
Hi,
I have almost the same problem. My icons are not question marks but some kind of cross marks.

Here is my build.gradle
buildscript {
    ext {
        buildToolsVersion = "27.0.3"
        minSdkVersion = 16
        compileSdkVersion = 27
        targetSdkVersion = 26
        supportLibVersion = "27.1.1"
        googlePlayServicesVersion   = "16.0.0"
        androidMapsUtilsVersion     = "0.5+"

[2018-12-29 12:31] leandrosimoes commented on #53
Hi! Can you provide the code part where you are setting the icon?

[2018-12-30 09:06] eathentica commented on #53
I use FontAwesome everywhere in my code.
In Version 0.57.4, for example:
<FontAwesome >{Icons.chevronLeft}</FontAwesome>

And it will appear as followed:
<img width="319" alt="screenshot 2018-12-29 at 15 10 32" src="https://user-images.githubusercontent.com/42891601/50545661-e5766200-0c18-11e9-8af6-b19f3b3ef302.png">

In Version 6.0.1
<FontAwesome >{Icons.chevronLeft}</FontAwesome>
And here is how

[2018-12-30 12:47] leandrosimoes commented on #53
@eathentica check your font files names and see if they are matching this patterns:

fa_brands_400.ttf
fa_regular_400.ttf
fa_solid_900.ttf

If not, change them to match exactly as that, because a few versions behind, the font files in fontawesome, had the names separated with underlines, but now, the font files are separated with dashes. I already open a PR to change the Icon.js to match dashes in

[2019-01-04 12:07] bsbechtel opened #54 "6.0.1 Icons with matching names do not show regular font"
When upgrading to 6.0.1, if I try to use icons that have the same name between the regular and solid fonts, the icon always defaults to the solid font. Ex:

`<FontAwesome type={IconTypes.FAR}>{Icons.circle}</FontAwesome>`

and

`<FontAwesome type={IconTypes.FAS}>{Icons.circle}</FontAwesome>`

both show solid circles, even with the correct fonts installed in iOS (I have not tested Android). This is

[2019-01-08 06:32] eathentica commented on #53
Hi, I have a look at the assets. There are the following files:
FontAwesome.ttf
FontAwesome5_Brands.ttf
FontAwesome5_Regular.ttf
FontAwesome5_Solid.ttf

How do I change their names?
Best regards,
Eathentica
www.eathentica.com

[2019-01-08 11:31] leandrosimoes commented on #53
@eathentica Just change the file name, Android considers the file name and not the font family.

[2019-01-09 09:23] eathentica commented on #53
Sorry, but I still do not understand what you meant.
FontAwesome.ttf ---> ?
FontAwesome5_Brands.ttf ---> fa_brands_400.ttf
FontAwesome5_Regular.ttf ---> fa_regular_400.ttf
FontAwesome5_Solid.ttf ---> fa_solid_900.ttf

Or do I miss something here?

[2019-01-09 14:00] leandrosimoes commented on #53
Exactly, delete the FontAwesome.ttf file and change the other file names like this:

FontAwesome5_Brands.ttf ---> fa_brands_400.ttf
FontAwesome5_Regular.ttf ---> fa_regular_400.ttf
FontAwesome5_Solid.ttf ---> fa_solid_900.ttf

[2019-01-23 10:46] bsbechtel commented on #54
Any updates on this? I looked into the package codebase to see if I could find a solution, but I didn't have much luck identifying what might be the root issue.

[2019-01-23 11:09] jgcmarins commented on #54
do you have any failing test or reproducible repo?

[2019-01-23 11:14] bsbechtel commented on #54
I can put one together....but really, all you need to do is try setting the type on any icon that uses the same unicode characters for multiple fonts.

[2019-01-23 17:49] leandrosimoes commented on #54
I just tested in Android and it's working fine as you can see at the images bellow, but unfortunately I can't test on IOS:

[FAR SCREENSHOT](https://drive.google.com/open?id=1f7WOF3ARKjZoRx8mlCqUcK13ve5nWN_D) and [FAS SCREENSHOT](https://drive.google.com/open?id=1JYq6w039sKaVYIxAx18_FGfrY_A0QFcn)

[2019-01-24 02:52] bsbechtel commented on #54
@leandrosimoes glad to hear....still working on putting together a reproducible demo for ios. I'll link to it here as soon as I can. Thanks

[2019-01-24 11:22] bsbechtel commented on #54
Here is a repo with a demo of iOS behavior: https://github.com/bsbechtel/FADemo

[2019-01-25 15:12] glasje opened #55 "Icons not visible in build android and iphone"
I published my project and when I open it on iphone and android the icons are not visualized. Should I add the icons to the project?
attached image
![image](https://user-images.githubusercontent.com/34929785/51754162-5a16b200-209a-11e9-99b9-d129c960579c.png)

[2019-01-25 16:54] leandrosimoes commented on #55
Did you put the font files in the right places?
Did you check if the font files names are correct? Like this:
    fa_regular_400.ttf
    fa_solid_900.ttf
    fa_brands_400.ttf
What is the package version that you are using? The last 6.0.1?
Are you using the IconTypes enum to chose between FAR, FAS or FAB?

[2019-01-25 17:34] glasje commented on #55
when I installed the package I got the error that the sources were not. solve it by loading the fonts in the app.js

![image](https://user-images.githubusercontent.com/34929785/51762119-999ac980-20ad-11e9-9ab9-3c8662a74b2f.png)

but the problem was generated when I generate the APK. When installing it happens that with the icons.
In development if you see

[2019-01-25 18:37] leandrosimoes commented on #55
Get a look in [this](https://medium.com/@kswanie21/custom-fonts-in-react-native-tutorial-for-ios-android-76ceeaa0eb78) tutorial to put the font files in ios and android and see if you are missing something. I think that the problem is that you're loading the files dynamically.

[2019-01-25 19:12] glasje commented on #55
For iphone is solved (attached image of iphone).
When I open for the first time the application on Android does not show the icons but if I close the apps and then I go back to this the icons are loaded.
![iphone](https://user-images.githubusercontent.com/34929785/51767354-d8378080-20bb-11e9-8d57-c8b087662a87.jpeg)

[2019-01-26 16:50] leandrosimoes commented on #55
Well, I think that it is because the dynamic load of the font files, as I said before. Did you saw my previously answer? Get a look in that article that I linked in the answer to see if you can add the files manually to compile with the app.

[2019-01-29 13:07] avcial opened #56 "Not working on Android"
Try this now,

- init new react-native project --> react-native init FaExample

- see that project is running properly --> react-native run-android

- close bundle screen (cmd) and delete app on your device

 start to follow instructions on readme.md :

- add npm --> npm i --save react-native-fontawesome

- create mentioned directory on root of project, you will see  --> FaExample/assets/fonts

![

[2019-01-29 19:44] MattCastellana opened #57 "Library searching for fonts with underscores in name, rather than default dashes."
Over the past while, I've been experiencing an issue that it seems a number of other users are having as well. Essentially, when I install everything and run, the app won't render fontawesome and shows Question marks or X's instead.

It seems that,  in newer versions of Font Awesome, fonts are named 'fa-regular-400.ttf" (Using dashes), and I think the issues people are having might be stemming fro

[2019-01-29 20:30] glasje commented on #55
I managed to solve the problem by loading the sources in the following way.
![image](https://user-images.githubusercontent.com/34929785/51938279-78a6e100-23eb-11e9-9da2-071af5bf48bc.png)

![image](https://user-images.githubusercontent.com/34929785/51938241-6331b700-23eb-11e9-9f29-276cb329c7fe.png)

Thank you very much for the help

[2019-01-29 20:30] #55 closed

[2019-01-29 20:32] glasje commented on #57
with help I can solve it .. I leave the link
https://github.com/entria/react-native-fontawesome/issues/55

[2019-01-31 13:24] leandrosimoes commented on #57
There is a PR for this here: https://github.com/entria/react-native-fontawesome/pull/52

[2019-01-31 13:44] leandrosimoes commented on #56
I really can't believe that a person who has two, maybe three contributions on GitHub can be such a d..., talking ironically like that? Really, what's the problem with these people?!
Fist of all, you didn't follow the instructions because if you had followed it you would see that you have to use the `IconTypes` enum together with the `FontAwesome` component like this:

`<FontAwesome type={IconType

[2019-01-31 13:53] jgcmarins commented on #57
@leandrosimoes are we ready to merge?

[2019-01-31 13:55] leandrosimoes commented on #57
@jgcmarins Yes, I think so, you already approved my PR, tell me if you need anything else.

[2019-01-31 14:12] avcial commented on #56
You didn't even find the problem not even tolking about solution.
But i will f.. ( fix) your code.
Don't worry

[2019-01-31 14:17] leandrosimoes commented on #56
Oh yeah! But first you have to learn how to follow some instructions, otherwise open a PR will not that easy for you! haha

[2019-01-31 14:22] leandrosimoes commented on #56
I was curious about your experience, and I got a look at your GitHub profile and guess what?! All your GitHub are issues that you open and somebody close because you don't know how to follow instructions. How funny is that? hahahaha

[2019-02-04 16:55] leandrosimoes commented on #56
Closing because is not a code problem. The problem is just because the user don't know how to setup the project, even following the README instructions.

[2019-02-04 16:55] #56 closed

[2019-02-11 14:52] bsbechtel commented on #54
Just curious if anyone has had a chance to investigate this on iOS? Is there anything I can do to assist?

[2019-02-11 16:28] leandrosimoes commented on #54
@bsbechtel Unfortunately I haven't a IPhone or even a MAC to try to check and fix it for you, sorry about that! Anyone could please help us on this?

[2019-02-12 16:13] KalebMatthews commented on #54
Not to be a bother but why was this issue closed. It exists. The fact that you cannot help with it does not mean that someone else can not. Please re-open this issue so someone who does have access to develop on iOS can resolve this issue or point a contributor to the code change that needs to happen to resolve it.

If this was closed for legitimate reasons please comment on the resolution so it d

[2019-02-12 18:01] KalebMatthews commented on #57
Just wanted to mention that the name given from the automatic linking process is different than the file names in the download link for manual linking. The only way I can see to make this package 100% on the setup is to either add the renaming of the files if you link the fonts manually in the readme or change the link to install the fonts to be a package you put up with the naming that matches th

[2019-02-12 18:16] KalebMatthews commented on #54
I did a little digging into this issue and I found that the correct fontFamily is being passed into the Text component inside this package. I believe the issue resides in the fact that Solid and Regular are in the same font family (FontAwesome5Free). Because of that I believe it can not determine properly which one to use. That is just a theory but wanted to give y'all something to go on.

[2019-02-12 18:33] jgcmarins commented on #54
@KalebMatthews maybe we can take a look into a reproducible repo

[2019-02-13 14:28] KalebMatthews commented on #54
@jgcmarins Sorry should have put a reply here when I saw it. Crazy day yesterday. To reproduce this its super simple. Just do the following:

- Init React Native project
- Install and Link this package
- Add a FontAwesome FAR Icon and a FAS Icon
- Run the project in iOS
- Both Icons will be FASs

[2019-02-13 14:32] bsbechtel commented on #54
@KalebMatthews @jgcmarins I linked a reproducible repo above. Please let me know if you can't access it.

[2019-02-14 07:49] keung7252 commented on #28
Where is the FontAwesome.ttf? Without adding this file to the project library wouldn't work?

[2019-02-14 13:24] leandrosimoes commented on #28
The FontAwesome.ttf is no longer used, because fontawesome does not have this file anymore. Now the fontawesome use separated files named like this:

fa-brands-400.ttf
fa-regular-400.ttf
fa-solid-900.ttf

[2019-02-25 19:20] larchapp opened #58 "Pro rather than free?"
How do we setup with the Pro pack, rather than just free?

[code]

[2019-02-28 21:48] mdere-unbound commented on #28
so for IOS - do we need to rename it to FontAwesome5FreeSolid.ttf?

[2019-03-03 07:14] devWaleed opened #59 "Fonts not working, showing box with cross or Chinese characters"
Fonts are either showing as a box with cross or some Chinese characters.

I have put my .ttf files in assets/fonts folder and run react-native link command.

[2019-03-03 16:37] vkachan commented on #59
I have the same issue unfortunately.

[2019-03-06 12:51] mslabenyak commented on #56
You need to rename font files names, changing '-' with '_', ex. fa-regular-400.ttf -> fa_regular_400.ttf. And relink.

[2019-03-07 08:53] timoisalive commented on #58
Same problem, how should I use the Pro version of the fonts?

[2019-03-07 17:44] bmcn99 commented on #59
Same here, I am using a different custom font as well so I don't believe that part of it is done incorrectly. I am using "version": "6.0.1"

[2019-03-07 18:05] bmcn99 commented on #28
I've downloaded those files, put them in my fonts folder and run react-native link again but am still getting the square box with a cross instead of the icon. Do you know if there's anything else undocumented that needs to be done to get this going?

[2019-03-09 12:03] palashjhabak commented on #59
@devWaleed  were you able to get it working ?

[2019-03-12 06:42] rgordon95 commented on #53
const IconTypes = {
  FAR: Platform.OS === 'ios' ? 'FontAwesome5FreeRegular' : 'fa_regular_400.ttf',
  FAS: Platform.OS === 'ios' ? 'FontAwesome5FreeSolid' : 'fa_solid_900.ttf',
  FAB: Platform.OS === 'ios' ? 'FontAwesome5BrandsRegular' : 'fa_brands_400.ttf'
}

did not work for me either

[2019-03-13 22:46] vkachan commented on #59
@bmcn99 thanks, I got it working after change hyphens to underscores in the file names

[2019-03-20 10:36] jan-happy commented on #56
@mslabenyak Thank you! That fixed the Android version for me!

[2019-03-20 22:22] rajuashok commented on #53
This worked for me. Please update your repo's readme with proper files. This link gives files with dashes instead of underscores: https://github.com/FortAwesome/Font-Awesome/releases/download/5.4.1/fontawesome-free-5.4.1-web.zip

[2019-04-16 09:54] bsbechtel commented on #54
Just curious if this was ever investigated any further. Thanks!

[2019-04-25 12:12] jr-k commented on #58
Same problem...

[2019-04-25 12:15] larchapp commented on #58
Only thing I can suggest is to use https://github.com/FortAwesome/react-native-fontawesome

[2019-05-02 09:09] jr-k commented on #58
@larchapp indeed, that's a great suggestion ! I am able to use FontAwesomePro as well, perfect.

[2019-05-15 14:41] deeuu commented on #53
Same for me...hyphen->underscore substitution is necessary.

Please update readme or review the PR.

[2019-07-16 05:55] manishbisht opened #60 "Can't resolve symbol `IconTypes`"
`IconTypes` is not working in react native. It gives the following error `Can't resolve symbol IconTypes`

<img width="681" alt="Screen Shot 2019-07-16 at 11 22 28 AM" src="https://user-images.githubusercontent.com/14255990/61269458-44b65100-a7bc-11e9-8da2-12b73c515df2.png">

[2019-07-19 20:04] leandrosimoes commented on #60
I open a PR that if merged will no need this IconTypes anymore: https://github.com/entria/react-native-fontawesome/pull/61

[2019-07-19 20:08] leandrosimoes commented on #59
I open a PR with that solves the hyphens problem, allowing to use the original files with hyphens. https://github.com/entria/react-native-fontawesome/pull/61

In this PR has a working sample project to so you can see how to use properly, because there are some breaking changes on it.

[2019-07-19 20:10] leandrosimoes commented on #58
I open a PR that maybe solve this issue. https://github.com/entria/react-native-fontawesome/pull/61
In this version you can use a `pro` property that allow to use pro icons. I know that it is not a great solution, but was the easy way that I found for now.

[2019-07-19 20:11] leandrosimoes commented on #57
I open a PR with that solves the hyphens problem, allowing to use the original files with hyphens. https://github.com/entria/react-native-fontawesome/pull/61

In this PR has a working sample project to so you can see how to use properly, because there are some breaking changes on it.

[2019-07-19 20:14] leandrosimoes commented on #54
I just open a PR that separate the Icons into tree constants (RegularIcons, SolidIconst and BrandIcons) and uses the properly font families. I think that this will fix this issue. https://github.com/entria/react-native-fontawesome/pull/61

[2019-07-19 20:15] leandrosimoes commented on #53
I created a PR that solves this issue with hyphens: https://github.com/entria/react-native-fontawesome/pull/61

[2019-07-19 20:26] rgordon95 commented on #53
I would suggest just using react-native-elements or native base as it has better support for FA FA5 and many other icon libraries in one dep.

[2019-07-19 20:30] leandrosimoes commented on #53
I agreed with @rgordon95 about using other alternatives than this repo, because I think that any mantainer is looking for this anymor since FontAwesome/react-native-fontawesome, that I'm using for new projects by the way. I just created this PR because I have some legacy projects that I'm useing entria/react-native-fontawesome and I just couldn't change the package right now.

[2019-07-20 10:06] bsbechtel commented on #54
That's great. Many thanks! Once it's merged, I can test it and close this.

[2019-08-02 12:41] leandrosimoes opened #62 "New version of NPM Package"
Would be great if the NPM Package was updated with the last modifications and fixes.

[2019-08-02 12:42] leandrosimoes commented on #62
@sibelius any chance to do that?

[2019-08-02 12:50] sibelius commented on #62
done react-native-fontawesome@7.0.0

[2019-08-02 12:50] #62 closed

[2019-08-02 12:51] leandrosimoes commented on #62
@sibelius awesome man! Thanks a lot!

[2019-08-02 12:56] sibelius commented on #62
great, we also need to update the example to use the latest react-native version

[2019-08-02 12:58] leandrosimoes commented on #62
@sibelius Awesome, I can do that. Would be better if I opened a new issue about that?

[2019-08-02 13:07] sibelius commented on #62
sure

[2019-08-02 13:23] leandrosimoes opened #63 "Update RN Version in Sample Project"
The version of React Native in the sample project is outdated and needs to be updated to the last version.

[2019-08-02 13:23] leandrosimoes commented on #63
Working on it!

[2019-08-02 13:31] leandrosimoes commented on #60
A [new version](https://www.npmjs.com/package/react-native-fontawesome) was released, please, check if in the new version this problem was fixed and feel free to reopen this issue if it wasn't.

**PS: REMEBER TO SEE THE NEW DOCUMENTATION BECAUSE THERE ARE SOME BREAKING CHANGES**

[2019-08-02 13:31] #60 closed

[2019-08-02 13:31] leandrosimoes commented on #59
A [new version](https://www.npmjs.com/package/react-native-fontawesome) was released, please, check if in the new version this problem was fixed and feel free to reopen this issue if wasn't.

**PS: REMEBER TO SEE THE NEW DOCUMENTATION BECAUSE THERE ARE SOME BREAKING CHANGES**

[2019-08-02 13:31] #59 closed

[2019-08-02 13:32] leandrosimoes commented on #58
A [new version](https://www.npmjs.com/package/react-native-fontawesome) was released, please, check if in the new version this problem was fixed and feel free to reopen this issue if wasn't.

**PS: REMEBER TO SEE THE NEW DOCUMENTATION BECAUSE THERE ARE SOME BREAKING CHANGES**

[2019-08-02 13:32] #58 closed

[2019-08-02 13:32] leandrosimoes commented on #57
A [new version](https://www.npmjs.com/package/react-native-fontawesome) was released, please, check if in the new version this problem was fixed and feel free to reopen this issue if wasn't.

**PS: REMEBER TO SEE THE NEW DOCUMENTATION BECAUSE THERE ARE SOME BREAKING CHANGES**

[2019-08-02 13:32] #57 closed

[2019-08-02 13:32] leandrosimoes commented on #54
A [new version](https://www.npmjs.com/package/react-native-fontawesome) was released, please, check if in the new version this problem was fixed and feel free to reopen this issue if wasn't.

**PS: REMEBER TO SEE THE NEW DOCUMENTATION BECAUSE THERE ARE SOME BREAKING CHANGES**

[2019-08-02 13:32] #54 closed

[2019-08-02 13:35] leandrosimoes commented on #26
A [new version](https://www.npmjs.com/package/react-native-fontawesome) was released, please, check if in the new version this problem was fixed and feel free to reopen this issue if wasn't.

**PS: REMEBER TO SEE THE NEW DOCUMENTATION BECAUSE THERE ARE SOME BREAKING CHANGES**

[2019-08-02 13:35] #26 closed

[2019-08-02 13:36] leandrosimoes commented on #6
A [new version](https://www.npmjs.com/package/react-native-fontawesome) was released, please, check if in the new version this problem was fixed and feel free to reopen this issue if wasn't.

**PS: REMEBER TO SEE THE NEW DOCUMENTATION BECAUSE THERE ARE SOME BREAKING CHANGES**

[2019-08-02 13:36] #6 closed

[2019-08-02 19:22] ndejesus1227 commented on #53
Switching to  FontAwesome/react-native-fontawesome solved my issue

[2019-08-02 19:22] #53 closed

[2019-08-07 05:49] manishbisht opened #65 "Font Family Issue"
iOS uses the `PostScript name` of the font. The Postscript name is changed in the Font Awesome 5.9 and the PostScript name is now `FontAwesome5Free-Solid`

<img width="794" alt="Screen Shot 2019-08-07 at 11 16 16 AM" src="https://user-images.githubusercontent.com/14255990/62597935-38c63680-b905-11e9-8556-53d7eac1040e.png">
<img width="709" alt="Screen Shot 2019-08-07 at 11 16 44 AM" src="https://u

[2019-08-07 05:50] manishbisht commented on #65
If this issue gets confirmed. I can submit the fix and send the PR.

[2019-08-07 12:32] leandrosimoes commented on #65
Hi @manishbisht ! Try to use [this](https://github.com/leandrosimoes/react-native-fontawesome/tree/update-sample-project-react-native-version/sample/assets/fonts) font files there is in the new `sample/` project that I made. This files match the font family names. I changed the downlod url in the documentation, but this was not merged yet as you can see at this PR: https://github.com/entria/react-

[2019-08-08 09:19] tomershvueli opened #66 "Add Support for Duotone"
Font Awesome [recently added support for 'Duotone' icons](https://blog.fontawesome.com/introducing-duotone/). These are for Pro use only, but it'd still be good to support it in this package.

[2019-08-08 14:33] leandrosimoes commented on #63
Done! https://github.com/entria/react-native-fontawesome/pull/64

[2019-08-08 14:33] #63 closed

[2019-08-15 20:54] sspiff commented on #65
Changing the fontFamily like so is an easy workaround:

    import FontAwesome, { SolidIcons } from 'react-native-fontawesome'
    SolidIcons._fontFamily = 'FontAwesome5Free-Solid'

[2019-08-16 06:59] King2231 commented on #59
i am using the 7.0.0 version and i am still getting a box with cross.. i tried with parseiconname too but it shows error saying parseIconName is not a function...

[2019-08-16 10:41] leandrosimoes commented on #65
Did you try to use [this](https://github.com/entria/react-native-fontawesome/tree/master/sample/assets/fonts) font file? Is from the sample project and the sample project was tested in both, android and ios, and it is all working.

[2019-08-16 17:33] sspiff commented on #65
No, I had followed the link to the font files in the (outdated?) README on npmjs.com (which point to fontawesome.com).

[2019-08-16 17:35] leandrosimoes commented on #65
Yeah, the npm README is outdated, unfortunately. I'll open an Issue to update that asap. Try to use the font files from the link that I told you, I think that it will work.

[2019-08-21 14:39] vicnicius commented on #65
The suggested fix will only work for the free version of the font, though. If using Pro - like I was trying to -, one will likely have to come up with a different workaround. :/

[2019-12-17 20:48] nabhacosley commented on #28
I had to modify FontAwesomeIcons.js and change the font names, which weren't matching the actual names of the font files that I saw when opening the fonts in FontBook.

e.g. instead of "FontAwesome5FreeSolid" I changed it to "Font Awesome 5 Pro" -- or "Font Awesome 5 Free" if I were using the free set.

There might be a better solution, but I'm not sure what it is?

[2020-03-30 14:53] ShareNewsLLC commented on #14
I'm using this

`import { ActivityIndicator } from 'react-native'`

`<ActivityIndicator size={35} color="#600" />`

[2020-04-29 13:10] jameskitt commented on #66
Will this be supported somewhen?

[2020-06-29 23:47] ctepeo commented on #14
To the guys that will copy-paste your solution: following [the documentation](https://reactnative.dev/docs/activityindicator#size) numeric value for `size` is gonna work only on Android, but `"large"` and `"small"` shall work on both platforms

[2020-08-29 21:07] javicorvus commented on #29
In my case I just grabbed the sample project fonts and used those instead of the broken new ones, it worked and I didn't had to modify any file.

[2020-09-12 10:04] bhavikjethava opened #69 "Display Question marks in Ios 14"
In IOS 14 it Display Question marks in.
import FontAwesome, { SolidIcons } from 'react-native-fontawesome';
`<FontAwesome icon={SolidIcons.tachometerAlt} />`

[2020-10-02 22:43] ghost commented on #69
Same issue

[2020-10-07 18:21] MwareSolutons commented on #69
same issue this is 100% due to IOS 14 who has a solution ?

[2020-10-07 18:33] MwareSolutons commented on #69
added this after the import and it started working

SolidIcons._fontFamily = 'FontAwesome5Free-Solid';

[2020-11-05 16:38] batcodegen commented on #69
@MwareSolutons could you please elaborate on your solution. Maybe provide how do I add this?
And it shows FontAwesome5FreeSolid and not FontAwesome5Free-Solid

[2020-11-05 17:45] MwareSolutons commented on #69
you can try both but place this right after you have the import line for me it solved this issue

[2021-07-31 18:16] jankaifer opened #72 "Wrong TS types."
Hi, this module is cool. But types are a bit off.

Current types are missing `icon` prop (it says that Icon has same props as Text):
[code]

It might be an error on my end though. Just asking for confirmation.

Workaround:
[code]

[2022-05-04 14:14] TacoTakumi opened #73 "Why does /rturk/react-native-fontawesome redirect here and version 6.0.0 vs 7.0.0"
Why does /rturk/react-native-fontawesome redirect here and why does /entria/react-native-fontawesome have version 6.0.0 vs 7.0.0?  After coming here I figured 6 was the lastest version and I've been debugging a problem for days!